/************  Custom Colors & Fonts for SASS *********** */

$link-color: #919394 !default;
$link-hover-decoration: none !default;

$navbar-default-bg: #fff !default;
$navbar-default-border: 0 !default;
$nav-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #000 !default;
$navbar-default-link-color: #000 !default;

$font-family-sans-serif: "Roboto",
sans-serif !default;
$font-size-base: 16px !default;

/************  Global Styles  ************ / 

body { background-color: #F0F0F0; font-weight: 100; }

a:hover{
	text-decoartion: none !important;
}

/************  Navigation.hbs Styles  ************ /

.navbar-default  {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.navbar-toggle {
    position: relative;
    float: left !important;
    margin-left: 15px !important;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/************  Header.hbs Styles *********** */

.main-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; 
    color: #fff;
}
.header-info {
    position: absolute;
    top: 35%;
    left: 0%;
    right: 0%;
    margin: auto;
    text-align: center;
}
.header-info > h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 100;
}
.header-info > h2 {
    font-size: 1em;
}
.header-info > hr {
    width: 30%;
    border-top: 4px solid #eeeeee;
}
/************  Index.hbs Styles  *********** */

.article-smooth {
    padding-top: 20px;
}
.bordered {
    border-bottom: 1px solid #D4D4D4;
    padding-top: 25px;
}
.image-cover {
    width: 100%
}
.image-cover-image {
    width: inherit;
    height: 75vh;
}
.pagination-smooth {
    position: relative;
    max-width: 710px;
    margin: 4rem auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}
.page-number {
    display: inline-block;
    padding: 2px 0;
}
.older-posts {
    right: 0;
}
.newer-posts {
    left: 0;
}
.older-posts:hover,
.newer-posts:hover,
{
    text-decoration: none;
    color: #f44336;
    transtion: all 2s;
}
older-posts:active,
.newer-posts:active,
{
    text-decoration: none;
    color: #f44336;
}
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    color: #303030;
}
/*********** Post.hbs Styles  *********** */

.post-image-cover {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 65vh;
    min-height: 500px;
}
.post-meta {
    font-size: 1.3rem;
    color: #9EABB3;
}
.post-title {
    color: #303030;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.post-title:hover {
    color: #6b6d6e;
    text-decoration: none !important;
}
.post-title:focus{
    color: #000;
    text-decoration: none !important;
}
.post-content {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.post-content img {
    max-width: 100%;
}
.bio-share {
    padding-top: 20px;
}
.share-smooth {
    margin: 1rem;
    font-size: 3rem;
}
.author-image {
    height: 140px;
    width: 140px;
}
.author-image > img {
    width: inherit;
    height: inherit;
}
/************  Footer.hbs Styles  *********** */

.footer-smooth {
    text-align: center;
    font-size: smaller;
    color: #9E9494;
    padding: 30px;
}
/************  Social Media Styles  *********** */

.social-bar {
    padding-top: 20px;
}
.icon-twitter:hover {
    color: #33CCFF;
}
.icon-facebook:hover {
    color: #3B5998;
}
.icon-gplus:hover {
    color: #C63D2D;
}
.icon-github:hover {
    color: #666666;
}
.icon-linkedin:hover{
    color: #4875B4;
}