<footer class="footer-smooth">
   <!--<a class="subscribe_smooth icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_smooth">Subscribe!</span></a>-->
   <div class="footertext_smooth">Copyright <a href="/">{{@blog.title}}</a>&copy; 2015 &bull; All rights reserved.</div>
   <!--<div class="footertext_smooth">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>-->
   <nav class="social-bar">
      <a class="share-smooth icon-twitter" target="_blank" href="https://twitter.com/KingJalenStatus"><span class="hidethis_smooth"><i class="fa fa-twitter-square"></i></span></a>
      <a class="share-smooth icon-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100006412698802"><span class="hidethis_smooth"><i class="fa fa-facebook-square"></i></span></a>
      <a class="share-smooth icon-gplus" target="_blank" href="https://plus.google.com/u/0/108686833213136852636/posts"><span class="hidethis_smooth"><i class="fa fa-google-plus-square"></i></span></a>
      <a class="share-smooth icon-github" target="_blank" href="https://github.com/JalenMoorer"><span class="hidethis_smooth"><i class="fa fa-github-square"></i></span></a>
      <a class="share-smooth icon-linkedin" target="_blank" href="http://www.linkedin.com/in/jalenmoorer"><span class="hidethis_smooth"><i class="fa fa-linkedin-square"></i></span></a>
   </nav>
</footer>